<div class="cf">
  <div class="fl w-100 w-70-l">
    <h1 class="f3"><%= @league.name %></h1>
    <div class="center mw7">
      <h1 class="f4">Rules</h1>
      <div class="center mw7">
        <div class="mt3 relative h2">
          <span class="absolute top-0 left-0 bg-green pa2 white">1</span>
          <div class="ml4 w-70">Pick one team to win each week.</div>
        </div>
        <div class="mt3 relative h2">
          <span class="absolute top-0 left-0 bg-green pa2 white">2</span>
          <div class="ml4 w-70">Each team can only be chosen once per season.</div>
        </div>
        <div class="mt3 relative h2">
          <span class="absolute top-0 left-0 bg-green pa2 white">3</span>
          <div class="ml4 w-70">All picks must be in by the time the first match starts each week.</div>
        </div>
        <div class="mt3 relative h2">
          <span class="absolute top-0 left-0 bg-green pa2 white">4</span>
          <div class="ml4 w-70">3 Points for a win. One point for a draw. +/- for goal difference.
          </div>
        </div>
      </div>
    </div>
    <div class="center mw7 pt3">
      <% if @no_active_matchweek %>
        <h2 class="tc f4"><%= @no_active_matchweek %></h2>
      <% elsif @active_matchweek %>
        <h1 class="f4">
          Matchweek #<%= @active_matchweek.week %> Selection
          <% if Time.now > @active_matchweek.fixtures.pluck(:date).min %>
            <span class="f5 red italic">[LOCKED]</span>
          <% end %>
        </h1>
        <% if @current_pick %>
          <div class="center mw6">
            <h4 class="tc f5 black-70">This week you selected</h4>
            <h2 class="tc f4"><%= Team.find(@current_pick.team_id).name %></h2>
            <h4 class="tc f5 black-70">
              <%= Team.find(@current_pick.fixture.home_team_id).name %>
              versus 
              <%= Team.find(@current_pick.fixture.away_team_id).name %>  
            </h4>
            <div class="tc"><%= button_to "Change Selection", pick_path(@current_pick.id), method: :delete, :class => "bg-green white w-100 f5 pa2 mv2 br1 ba b--green pointer dim" %></div>
          </div>
        <% elsif @remaining_teams %>
          <div class="styled-select center mw6 br1">
            <%= form_for(Pick.new) do |f| %>
              <%= f.collection_select :team_id, @remaining_teams, :id, :name, {},{:class => "w-100 bg-transparent pa2 f4 input-reset pointer"} %>
              <%= f.number_field :league_id, :value => @league.id, hidden: true %>
              <%= f.submit "Select Team", {:class => "bg-green white w-100 f5 pa2 mv2 br1 ba b--green pointer dim"} %>
            <% end %>
          </div>
        <% elsif @locked_pick %>
          <h4 class="tc f5 black-70">This week you selected</h4>
          <h2 class="tc f4"><%= @locked_pick %></h2>
        <% end %>
      <% end %>
    </div>

    <% unless @fixtures.empty? %>
      <div class="center mw7 pt3">
        <h1 class="f4">Current Matchweek Fixtures</h1>
        <div class="flex flex-row flex-wrap">
          <% @fixtures.each do |f| %>
            <div class="w-100 w-40-l mh4-l pa2 mt2 br1 shadow-1">
              <div class="w-70 dib">
                <div class="f5 black-70"><%= Team.find(f.home_team_id).name %></div>
                <div class="f5 black-70 pt2"><%= Team.find(f.away_team_id).name %></div>
              </div>
              <div class="w-20 dib tr">
                <div class="f5 black-70"><%= f.home_team_score ? f.home_team_score : "-" %></div>
                <div class="f5 black-70 pt2"><%= f.away_team_score ? f.away_team_score : "-" %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <article class="pt3 mw7 center">
      <h1 class="f4 center mw7">Current Standings</h1>
      <ul class="list pl0 ml0 center mw7 ba b--light-silver br2">
        <li class="bg-green white ph3 pv3 bb b--light-silver">
          <span class="w2 dib"></span>
          <span class="w-50 dib">Team</span>
          <span class="w-10 dib">P</span>
          <span class="w-10 dib tc">GD</span>
          <span class="w-10 dib tc">Pts.</span>
        </li>
        <% @table.each do |team| %>
        <li class="ph3 pv3 bb b--light-silver">
          <span class="w2 dib"><%= team['position'] %></span>
          <div class="w-50 v-mid dib">
            <span class="dib w-10">
              <img class="v-mid h1 w1 h2-ns w2-ns" src=<%= team['crestURI'] %> />
            </span>
            <span class="v-mid f6 f5-ns w-80 truncate overflow-visible-ns dib di-ns"><%= team['teamName'] %></span>
          </div>
          <span class="black-70 w-10 dib"><%= team['playedGames'] %></span>
          <span class="black-70 w-10 dib tc"><%= team['goalDifference'] %></span>
          <span class="w-10 dib tc"><%= team['points'] %></span>
        </li>
        <% end %>
      </ul>
    </article>

    <% if @active_matchweek && @active_matchweek.locked? && @active_matchweek.picks.present? %>
      <main class="pt3 mw7 center">
        <h1 class="f4">This week's picks</h1>
        <% @active_matchweek.picks.where(:league_id => @league.id).each do |pick| %>
          <article class="dt bb b--black-05 w-100 pb2 mt2" href="#0">
            <div class="dtc w2 w3-ns v-mid">
              <img src="" class="ba b--black-10 db br2 w2 w3-ns h2 h3-ns"/>
            </div>
            <div class="dtc v-mid pl3">
              <h1 class="f6 f5-ns fw6 lh-title black mv0"><%= pick.user.email %></h1>
            </div>
            <div class="dtc v-mid">
              <form class="w-100 tr">
                <h2 class="f5 bg-white pv1 black-60"><%= Team.find(pick.team_id).name %></h2>
              </form>
            </div>
          </article>
        <% end %>
      </main>
    <% end %>

    <article class="pt3">
      <h1 class="f4 center mw7">My Previous Picks</h1>
      <ul class="list pl0 ml0 center mw7 ba b--light-silver br2">
        <li class="bg-green white ph3 pv3 bb b--light-silver">
          <span class="w-10 dib">Wk.</span>
          <span class="w-60 dib">Selected Team</span>
          <span class="w-10 dib tc">GD</span>
          <span class="w-10 dib tc">Pts.</span>
        </li>
        <% @picks.each do |pick| %>
        <li class="ph3 pv3 bb b--light-silver">
          <span class="w-10 dib"><%= pick.matchweek_id %></span>
          <span class="w-60 dib"><%= Team.find(pick.team_id).name %></span>
          <span class="black-70 w-10 dib tc"><%= pick.result_gd %></span>
          <span class="w-10 dib tc"><%= pick.result_points %></span>
        </li>
        <% end %>
      </ul>
    </article>
  </div>

  <div class="fl w-100 w-30-l">
    <article class="pt3">
      <h1 class="f4 center mw7">League Standings</h1>
      <ul class="list pl0 ml0 center mw7 ba b--light-silver br2">
        <li class="bg-green white ph3 pv3 bb b--light-silver">
          <span class="w-70 dib">Player</span>
          <span class="w-10 dib tc">GD</span>
          <span class="w-10 dib tc">Pts.</span>
        </li>
        <% @users.each do |user| %>
        <li class="ph3 pv3 bb b--light-silver">
          <span class="w-70 dib"><%= user[:username] == nil ? user[:email] : user[:username] %></span>
          <span class="black-70 w-10 dib tc"><%= user[:result_gd] %></span>
          <span class="w-10 dib tc"><%= user[:result_points] %></span>
        </li>
        <% end %>
      </ul>
    </article>

    <div>
      <%= form_for(User.new, :url => invite_user_league_path, :html => {:class => "bg-purple mw7 center pa4 br2-ns ba b--black-10"}) do |f| %>
        <fieldset class="cf bn ma0 pa0">
          <legend class="pa0 f5 f4-ns mb3 black-80 white">Invite new player</legend>
          <div class="cf">
            <%= f.text_field :email, :required => true, :placeholder => "player@example.com", class: "f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-100-l br2-m br--left-m" %>
            <%= f.submit "Send Invite", class: "f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-100-l br2-m br--right-m" %>
          </div>
        </fieldset>
       <% end %>
    </div>
  </div>
</div>