<div class="container">
	<div class="main">
		<h1>Premier League Fixtures</h1>
		<div class="pick-container">
			<% if @no_active_matchweek %>
				<%= @no_active_matchweek %>
			<% elsif @active_matchweek %>
				<h3>Matchweek #<%= @active_matchweek.week %> Selection</h3>
				<% if @current_pick %>
					<h3>You've chosen <%= Team.find(@current_pick.team_id).name %></h3>
					<h4><%= Team.find(@current_pick.fixture.home_team_id).name %> versus <%= Team.find(@current_pick.fixture.away_team_id).name %></h4>
					<p><%= button_to "Change Selection", pick_path(@current_pick.id), method: :delete %></p>
				<% else %>
					<div class="styled-select">
						<%= form_for(Pick.new) do |f| %>
						  <%= f.collection_select :team_id, @remaining_teams, :id, :name %>
						  <%= f.submit "Select Team" %>
						<% end %>
					</div>
				<% end %>
			<% elsif @locked_pick %>
				<h3>Matchweek Locked</h3>
				<%= @locked_pick %>
			<% end %>
		</div>
		<h3>Current Matchweek Fixtures:</h3>
		<table>
			<thead>
				<tr>
					<th>Home Team</th>
					<th>Home Score</th>
					<th>Away Score</th>
					<th>Away Team</th>
				</tr>
			</thead>
			<tbody>
				<% @fixtures.each do |f| %>
					<tr>
						<td><%= Team.find(f.home_team_id).name %></td>
						<td><%= f.home_team_score %></td>
						<td><%= f.away_team_score %></td>
						<td><%= Team.find(f.away_team_id).name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<h3>My Previous Picks</h3>
		<table>
			<thead>
				<tr>
					<th>Matchweek</th>
					<th>Selected Team</th>
					<th>Points</th>
					<th>GD Change</th>
				</tr>
			</thead>
			<tbody>
			<% @picks.each do |pick| %>
				<tr>
					<td><%= pick.matchweek_id %></td>
					<td><%= Team.find(pick.team_id).name %></td>
					<td><%= pick.result_points %></td>
					<td><%= pick.result_gd %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>

	<div class="sidebar">
		<h3>League Standings</h3>
		<table>
			<thead>
				<tr>
					<th>User</th>
					<th>Points</th>
					<th>GD</th>
				</tr>
			</thead>
			<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.username == nil ? user.email : user.username %></td>
					<td><%= user.picks.pluck(:result_points).sum %></td>
					<td><%= user.picks.pluck(:result_gd).sum %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= form_for(User.new, :url => invite_user_league_path) do |f| %>
		  <%= f.text_field :email, :required => true %><br />
		  <%= f.submit "Select Team" %>
		<% end %>
	</div>
</div>