<h1>Edit Fixture</h1>

<%= form_for @fixture do |f| %>
  <%= f.label :home_team_score %>:
  <%= f.number_field :home_team_score %><br />

  <%= f.label :away_team_score %>:
  <%= f.number_field :away_team_score %><br />

  <%= f.submit %>
<% end %>